/* No CSS */
:root {
  --primary-purple: #6d00b7;
  --smoke-white: #f5f5f5;
  --darker-purple: #4800a8;
  --primary-black: #21272f;
  --medium-black: #464646;
  --darker-black: #000;
  --gray: #8f8f8f;
  --soft-gray: #b6b6b6;
  --white: #fff;
  --gradient-dark-purple: rgb(72, 0, 168);
  --gradient-primary-purple: rgb(109, 0, 183);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.btn {
  border-radius: 7px;
  padding: 0.8rem 1.5rem;
  border: none;
  color: var(--white);
  font-weight: 600;
  letter-spacing: 0.09em;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  font-size: 1rem;
  display: inline-block;
  margin: 0.5rem 0;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background: var(--smoke-white);
  font-family: "Montserrat";
  overflow-x: hidden;
}

body::after {
  position: fixed;
  content: "UX & UI Design";
  height: auto;
  width: auto;
  font-size: 250px;
  white-space: nowrap;
  font-weight: 900;
  bottom: 50%;
  left: -100px;
  color: var(--primary-black);
  opacity: 0.09;
  z-index: -1;
}

body::before {
  position: fixed;
  content: "Web Design";
  height: auto;
  width: auto;
  font-size: 250px;
  white-space: nowrap;
  font-weight: 900;
  bottom: 20%;
  left: -100px;
  color: var(--primary-black);
  opacity: 0.09;
  z-index: -1;
}

.circle-1 {
  height: 375px;
  width: 375px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-dark-purple)), to(var(--gradient-primary-purple)));
  background-image: linear-gradient(to bottom, var(--gradient-dark-purple), var(--gradient-primary-purple));
  border-radius: 50%;
  position: absolute;
  top: -200px;
  left: -200px;
  z-index: 1;
  border: none;
}

.circle-1::after {
  content: "";
  position: absolute;
  height: 130%;
  width: 130%;
  border: 1px solid var(--gradient-dark-purple);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle-2 {
  height: 100px;
  width: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-dark-purple)), to(var(--gradient-primary-purple)));
  background-image: linear-gradient(to bottom, var(--gradient-dark-purple), var(--gradient-primary-purple));
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: 30%;
  z-index: 1;
  border: none;
}

.hero {
  min-height: 100%;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr;
      grid-template-columns: 10% 1fr;
}

.hero .media-column {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .media-column .link {
  display: block;
  font-size: 1.8rem;
  color: var(--gray);
  margin: 1.1rem 0;
}

.hero .media-column .link:hover {
  color: var(--darker-purple);
}

.hero .info-column {
  padding: 0 1.18rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .info-column .info-column__info-section h4 {
  color: var(--medium-black);
  font-weight: 600;
}

.hero .info-column .info-column__info-section h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-black);
}

.hero .info-column .info-column__info-section h1 span {
  color: var(--darker-purple);
}

.hero .info-column .info-column__info-section h5 {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--medium-black);
  line-height: 1.5em;
  border-left: 2px solid var(--soft-gray);
  padding-left: 1.4rem;
  margin-left: 3px;
}

.hero .info-column .btns .btn-filled {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--darker-purple)), to(var(--primary-purple)));
  background-image: linear-gradient(to right, var(--darker-purple) 50%, var(--primary-purple) 100%);
  background-size: 100% auto;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  margin-right: 3rem;
}

.hero .info-column .btns .btn-filled::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid var(--darker-purple);
  left: 0;
  top: 0;
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
  border-radius: 7px;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero .info-column .btns .btn-filled:hover {
  background-position: right center;
}

.hero .info-column .btns .btn-unFilled {
  border: 2px solid var(--primary-purple);
  color: var(--primary-purple);
}

.hero .info-column > div {
  margin: 2rem 0;
}

.hero .design-right-section {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
}

.hero .design-right-section .design-circle {
  height: 375px;
  width: 375px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, var(--gradient-dark-purple)), to(var(--gradient-primary-purple)));
  background-image: linear-gradient(to bottom, var(--gradient-dark-purple) 40%, var(--gradient-primary-purple) 100%);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  border: none;
}

.hero .design-right-section .design-circle-1 {
  right: 70px;
  bottom: 10px;
  -webkit-transform: translate(-264%, -359%);
          transform: translate(-264%, -359%);
  width: 100px;
  height: 100px;
  z-index: -1;
}

.hero .design-right-section .design-circle-2 {
  right: -50px;
  bottom: 678px;
  -webkit-transform: translate(-146%, 236%);
          transform: translate(-146%, 236%);
  width: 60px;
  height: 60px;
  z-index: -1;
  opacity: 0.7;
}

.hero .design-right-section .design-circle-3 {
  right: 68px;
  bottom: 603px;
  width: 20px;
  height: 20px;
  z-index: -1;
  opacity: 0.5;
}

.hero .design-right-section .design-circle-4 {
  right: 236px;
  bottom: 484px;
  width: 40px;
  height: 40px;
  z-index: -1;
  opacity: 0.8;
}

.hero .design-right-section .man {
  position: absolute;
  width: 650px;
  height: auto;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(140px, 5px);
          transform: translate(140px, 5px);
  z-index: 99;
}

.hero .design-right-section .man::after {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, var(--gradient-primary-purple)), color-stop(50%, var(--gradient-dark-purple)));
  background-image: linear-gradient(to right, var(--gradient-primary-purple) 10%, var(--gradient-dark-purple) 50%);
  left: -5%;
  top: 40%;
  z-index: -1;
  border-radius: 50%;
}

.hero .design-right-section .man::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--gradient-dark-purple)), color-stop(60%, var(--gradient-primary-purple)));
  background-image: linear-gradient(to bottom, var(--gradient-dark-purple) 10%, var(--gradient-primary-purple) 60%);
  left: 50%;
  top: -17%;
  z-index: -1;
  border-radius: 50%;
}

.hero .scroll-down-instruct {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .scroll-down-instruct .scroll-down-instruct__text {
  margin-right: 1rem;
}

.hero .scroll-down-instruct .scroll-down-instruct__text h4 {
  color: var(--white);
}

.hero .scroll-down-instruct .scroll-down-instruct__text p {
  color: var(--soft-gray);
  font-size: 15px;
}

.hero .scroll-down-instruct .mouse-icon {
  position: relative;
  width: 30px;
  border: 2px solid var(--white);
  border-radius: 20px;
}

.hero .scroll-down-instruct .mouse-icon::before {
  position: absolute;
  content: "";
  height: 25%;
  width: 20%;
  background: var(--white);
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 15px;
  -webkit-animation: scroll-animation 1.5s linear infinite;
          animation: scroll-animation 1.5s linear infinite;
}

@-webkit-keyframes scroll-animation {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 80%);
            transform: translate(-50%, 80%);
  }
  75% {
    -webkit-transform: translate(-50%, 80%);
            transform: translate(-50%, 80%);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes scroll-animation {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 80%);
            transform: translate(-50%, 80%);
  }
  75% {
    -webkit-transform: translate(-50%, 80%);
            transform: translate(-50%, 80%);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.project-section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr;
      grid-template-columns: 10% 1fr;
  padding-right: 1.18rem;
  margin-top: 2rem;
}

.project-section .section-header {
  color: var(--darker-purple);
  font-size: 30px;
  position: relative;
}

.project-section .section-header h1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, calc(100vh / 2)) rotate(-90deg);
          transform: translate(-50%, calc(100vh / 2)) rotate(-90deg);
}

.project-section .section-header h1::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--soft-gray);
  left: -20px;
}

.project-section .projects {
  z-index: 99;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.project-section .projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0;
}

.project-section .projects .project-container .project-image-container img {
  display: block;
  width: 500px;
}

.project-section .projects .project-container .project-info-container {
  font-family: "Nunito";
}

.project-section .projects .project-container .project-info-container .project-info-header {
  font-size: 25px;
  font-weight: 700;
  color: var(--darker-purple);
  margin-bottom: 1rem;
}

.project-section .projects .project-container .project-info-container .project-info-text {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--medium-black);
  padding-right: 10rem;
}

.project-section .projects .project-container .project-info-container .project-btns {
  margin: 3rem 0;
}

.project-section .projects .project-container .project-info-container .project-btns .btn.filled-btn {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--darker-purple)), to(var(--primary-purple)));
  background-image: linear-gradient(to right, var(--darker-purple) 50%, var(--primary-purple) 100%);
  background-size: 100% auto;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: bolder;
  margin-right: 3rem;
}

.project-section .projects .project-container .project-info-container .project-btns .btn.filled-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid var(--darker-purple);
  left: 0;
  top: 0;
  -webkit-transform: translate(4px, 3px);
          transform: translate(4px, 3px);
  border-radius: 7px;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-section .projects .project-container .project-info-container .project-btns .btn.unfilled-btn {
  border: 2px solid var(--primary-purple);
  color: var(--primary-purple);
  font-weight: bolder;
}

.project-section .projects .project-container:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.project-section .projects .project-container:nth-of-type(even) #project-info-text {
  padding-left: 10rem;
  padding-right: 0;
}

.project-section .project-circle-1 {
  position: absolute;
  height: 375px;
  width: 375px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--gradient-dark-purple)), color-stop(70%, var(--gradient-primary-purple)));
  background-image: linear-gradient(to bottom, var(--gradient-dark-purple) 50%, var(--gradient-primary-purple) 70%);
  border-radius: 50%;
  z-index: 0;
  border: none;
  right: 0;
  bottom: 80%;
  -webkit-transform: translate(50%, -20%);
          transform: translate(50%, -20%);
  opacity: 1;
  -webkit-box-shadow: -200px 200px 0 -160px rgba(72, 0, 168, 0.3);
          box-shadow: -200px 200px 0 -160px rgba(72, 0, 168, 0.3);
}

.project-section .project-circle-1::after {
  position: absolute;
  content: "";
  height: 120%;
  width: 120%;
  border: 5px solid var(--darker-purple);
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  border-radius: 50%;
  opacity: 0.2;
}

.project-section .project-circle-2 {
  position: absolute;
  content: "";
  height: 375px;
  width: 375px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--gradient-dark-purple)), color-stop(70%, var(--gradient-primary-purple)));
  background-image: linear-gradient(to bottom, var(--gradient-dark-purple) 50%, var(--gradient-primary-purple) 70%);
  border-radius: 50%;
  z-index: -1;
  border: none;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 1;
}

.project-section .project-circle-2::after {
  position: absolute;
  content: "";
  height: 120%;
  width: 120%;
  border: 3px solid var(--darker-purple);
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  border-radius: 50%;
  opacity: 0.6;
}

.project-section .project-circle-2::before {
  position: absolute;
  content: "";
  height: 150%;
  width: 150%;
  border: 2px solid var(--darker-purple);
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  border-radius: 50%;
  opacity: 0.4;
}

.about-section {
  font-family: "Montserrat";
  min-height: 70vh;
  width: 100%;
  background-color: var(--white);
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr;
      grid-template-columns: 10% 1fr;
  padding: 3rem 0;
}

.about-section .pattern {
  position: absolute;
  font-size: 200px;
  font-weight: 800;
  white-space: nowrap;
  -webkit-transform: translate(-30%, 45%) rotate(-45deg);
          transform: translate(-30%, 45%) rotate(-45deg);
  color: var(--gray);
  opacity: 0.3;
  pointer-events: none;
}

.about-section .pattern.pattern2 {
  -webkit-transform: translate(20%, 45%) rotate(-45deg);
          transform: translate(20%, 45%) rotate(-45deg);
}

.about-section .pattern.pattern3 {
  -webkit-transform: translate(70%, 45%) rotate(-45deg);
          transform: translate(70%, 45%) rotate(-45deg);
}

.about-section .about-circle {
  position: absolute;
  height: 200px;
  width: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--gradient-dark-purple)), color-stop(70%, var(--gradient-primary-purple)));
  background-image: linear-gradient(to bottom, var(--gradient-dark-purple) 50%, var(--gradient-primary-purple) 70%);
  border-radius: 50%;
  z-index: 0;
  border: none;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  opacity: 1;
}

.about-section .about-circle::after {
  position: absolute;
  content: "";
  height: 130%;
  width: 130%;
  border: 3px solid var(--darker-purple);
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  border-radius: 50%;
  opacity: 0.6;
}

.about-section .about-circle::before {
  position: absolute;
  content: "";
  height: 170%;
  width: 170%;
  border: 2px solid var(--darker-purple);
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  border-radius: 50%;
  opacity: 0.4;
}

.about-section .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--darker-purple);
  font-size: 30px;
  position: relative;
}

.about-section .about-header h1 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
}

.about-section .about-header h1::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--soft-gray);
  left: -20px;
}

.about-section .about-info-container {
  padding: 0 1.18rem;
  width: 70%;
}

.about-section .about-info-container h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--darker-purple);
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.about-section .about-info-container p {
  font-size: 16px;
  line-height: 1.8em;
  color: var(--medium-black);
  margin-bottom: 3rem;
}

@media screen and (max-width: 1040px) {
  body {
    overflow-x: hidden;
  }
  body .circle-1 {
    height: 200px !important;
    width: 200px !important;
    top: -100px;
    left: -100px;
  }
  body .hero .design-right-section .design-circle-1 {
    right: 70px;
    bottom: 10px;
    -webkit-transform: translate(-264%, -359%);
            transform: translate(-264%, -359%);
    width: 80px;
    height: 80px;
  }
  body .hero .design-right-section .design-circle-2 {
    right: -20px;
    bottom: 560px;
    -webkit-transform: translate(-146%, 236%);
            transform: translate(-146%, 236%);
    width: 40px;
    height: 40px;
  }
  body .hero .design-right-section .design-circle-3 {
    right: 68px;
    bottom: 500px;
    width: 20px;
    height: 20px;
  }
  body .hero .design-right-section .design-circle-4 {
    right: 210px;
    bottom: 400px;
    width: 40px;
    height: 40px;
  }
  body .hero .design-right-section .man {
    width: 550px;
  }
  body .hero .design-right-section .man::after {
    height: 120px;
    width: 120px;
  }
  body .hero .design-right-section .man::before {
    height: 100px;
    width: 100px;
  }
  body .project-section .project-circle-1 {
    height: 200px;
    width: 200px;
    right: 0;
    bottom: 90%;
    -webkit-transform: translate(50%, -20%);
            transform: translate(50%, -20%);
  }
  body .project-section .project-circle-1::after {
    border: 3px solid var(--darker-purple);
  }
  body .project-section .project-circle-2 {
    height: 200px;
    width: 200px;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  body .project-section .projects .project-container .project-info-container .project-info-text {
    padding-right: 2rem;
  }
  body .project-section .projects .project-container:nth-of-type(even) #project-info-text {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }
  body .project-section {
    padding: 0;
  }
  body .project-section .project-circle-1 {
    height: 200px;
    width: 200px;
    right: 0;
    bottom: 90%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  body .project-section .projects .project-container {
    padding: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body .project-section .projects .project-container .project-info-container {
    width: 70%;
  }
  body .project-section .projects .project-container .project-info-container .project-info-text {
    padding: 0;
  }
  body .project-section .projects .project-container:nth-of-type(even) {
    text-align: center;
  }
  body .about-section .about-info-container {
    width: 100%;
    text-align: center;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 860px) {
  .btn {
    border-radius: 7px;
    padding: 0.5rem 1rem;
    border: none;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.09em;
    text-decoration: none;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    position: relative;
    font-size: 0.8rem;
  }
  body {
    overflow-x: hidden;
  }
  body .hero .info-column .info-column__info-section h4 {
    font-size: 14px !important;
  }
  body .hero .info-column .info-column__info-section h1 {
    font-size: 2rem;
  }
  body .hero .info-column .info-column__info-section h5 {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 730px) {
  body {
    overflow-x: hidden;
  }
  body .circle-1 {
    height: 375px;
    width: 375px;
    top: -100px;
    left: -100px;
  }
  body .circle-1::after {
    height: 130%;
    width: 130%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  body .circle-2 {
    height: 80px;
    width: 80px;
    top: -50px;
    right: 10%;
  }
  body::after {
    font-size: 150px;
    bottom: 40%;
  }
  body::before {
    font-size: 150px;
  }
  body .hero .design-right-section .design-circle-1 {
    right: 40px;
    bottom: 20px;
    width: 70px;
    height: 70px;
  }
  body .hero .design-right-section .design-circle-2 {
    right: -40px;
    bottom: 500px;
    width: 35px;
    height: 35px;
  }
  body .hero .design-right-section .design-circle-3 {
    right: 68px;
    bottom: 450px;
  }
  body .hero .design-right-section .design-circle-4 {
    right: 150px;
    bottom: 310px;
  }
  body .hero .design-right-section .man {
    width: 480px;
  }
}

@media screen and (max-width: 630px) {
  body {
    overflow-x: hidden;
  }
  body .circle-1 {
    height: 150px !important;
    width: 150px !important;
    top: -70px;
    left: -70px;
  }
  body .circle-2 {
    height: 70px;
    width: 70px;
    top: -40px;
    right: 10%;
  }
  body .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .hero .media-column {
    display: none;
  }
  body .hero .info-column {
    padding: 0 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .hero .info-column .btns {
    margin: 1rem 0 0 0 !important;
  }
  body .hero .info-column .info-column__info-section {
    margin-top: 10rem;
  }
  body .hero .design-right-section .design-circle-1 {
    right: 10px;
    bottom: 0;
    -webkit-transform: translate(-264%, -320%);
            transform: translate(-264%, -320%);
    width: 70px;
    height: 70px;
  }
  body .hero .design-right-section .man {
    width: 400px;
    -webkit-transform: translate(90px, 5px);
            transform: translate(90px, 5px);
  }
  body .hero .design-right-section .man::after {
    height: 60px !important;
    width: 60px !important;
    left: -10%;
  }
  body .hero .design-right-section .man::before {
    height: 100px;
    width: 100px;
    left: 45%;
    top: -20%;
  }
  body .hero .scroll-down-instruct {
    right: 5%;
    bottom: 2%;
  }
  body .hero .scroll-down-instruct .scroll-down-instruct__text {
    margin-right: 0.7rem;
  }
  body .hero .scroll-down-instruct .scroll-down-instruct__text h4 {
    font-size: 1rem;
  }
  body .hero .scroll-down-instruct .scroll-down-instruct__text p {
    font-size: 0.9rem;
  }
  body .hero .scroll-down-instruct .mouse-icon {
    width: 25px;
  }
  body .project-section {
    display: block;
    padding-right: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 3rem;
  }
  body .project-section .section-header {
    text-align: center;
    font-size: 28px;
  }
  body .project-section .section-header h1 {
    display: inline-block;
    position: relative;
    left: 0;
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  body .project-section .section-header h1::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background-color: var(--soft-gray);
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  body .project-section .projects .project-container {
    padding: 0;
  }
  body .project-section .projects .project-container .project-image-container img {
    width: 100%;
  }
  body .project-section .projects .project-container .project-info-container {
    width: 100%;
  }
  body .project-section .projects .project-container .project-info-container .project-info-text {
    padding: 0;
  }
  body .project-section .project-circle-1 {
    height: 150px;
    width: 150px;
    right: 0;
    top: 0;
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
  body .project-section .project-circle-2 {
    height: 150px;
    width: 150px;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(-60%, 80%);
            transform: translate(-60%, 80%);
  }
  body .about-section {
    display: block;
  }
  body .about-section .pattern {
    font-size: 150px;
    -webkit-transform: translate(-30%, 45%) rotate(-45deg);
            transform: translate(-30%, 45%) rotate(-45deg);
  }
  body .about-section .pattern.pattern2 {
    -webkit-transform: translate(-5%, 140%) rotate(-45deg);
            transform: translate(-5%, 140%) rotate(-45deg);
  }
  body .about-section .pattern.pattern3 {
    -webkit-transform: translate(40%, 170%) rotate(-45deg);
            transform: translate(40%, 170%) rotate(-45deg);
  }
  body .about-section .about-circle {
    height: 150px;
    width: 150px;
  }
  body .about-section .about-header h1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (max-width: 470px) {
  .btn {
    padding: 0.4rem 0.9rem;
    font-weight: 400;
    font-size: 0.7rem;
    z-index: 100;
  }
  body {
    overflow-x: hidden !important;
  }
  body::after {
    font-size: 90px;
    bottom: 60%;
  }
  body::before {
    font-size: 90px;
    bottom: 50%;
    height: 60px;
    width: 60px;
  }
  body .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  body .hero .info-column {
    padding: 0 1.5rem;
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .hero .info-column .info-column__info-section {
    margin: 0;
  }
  body .hero .info-column .info-column__info-section h4 {
    font-size: 13px;
  }
  body .hero .info-column .info-column__info-section h1 {
    font-size: 2rem;
  }
  body .hero .info-column .info-column__info-section h5 {
    font-size: 0.8rem;
  }
  body .hero .info-column .btns {
    margin: 1rem 0 1.3rem 0 !important;
  }
  body .hero .design-right-section {
    position: static;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transform: translate(90px, 10px);
            transform: translate(90px, 10px);
    z-index: 99;
  }
  body .hero .design-right-section .design-circle-1 {
    width: 80px;
    height: 80px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    right: 60%;
    bottom: 60%;
    display: none;
  }
  body .hero .design-right-section .design-circle-2 {
    right: 30%;
    bottom: 120%;
    display: none;
  }
  body .hero .design-right-section .design-circle-3 {
    right: 30%;
    bottom: 100%;
    display: none;
  }
  body .hero .design-right-section .design-circle-4 {
    display: none;
  }
  body .hero .design-right-section .man {
    padding: 1rem 0 0 0;
    position: static;
    width: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    z-index: 100;
    width: 120% !important;
  }
  body .hero .design-right-section .man::after {
    height: 85px;
    width: 85px;
    left: -5%;
  }
  body .hero .design-right-section .man::before {
    height: 70px;
    width: 70px;
    top: -15%;
  }
  body .hero .scroll-down-instruct .scroll-down-instruct__text h4 {
    font-size: 0.9rem;
  }
  body .hero .scroll-down-instruct .scroll-down-instruct__text p {
    font-size: 0.7rem;
  }
  body .project-section {
    padding: 0 1.5rem;
  }
  body .project-section .section-header {
    font-size: 24px;
  }
  body .project-section .projects .project-container {
    margin: 2rem 0;
  }
  body .project-section .projects .project-container .project-info-container {
    margin-top: 1rem;
  }
  body .project-section .projects .project-container .project-info-container .project-info-header {
    font-size: 23px;
  }
  body .project-section .projects .project-container .project-info-container p.project-info-text {
    font-size: 15px;
  }
  body .project-section .projects .project-container .project-info-container .project-btns {
    margin: 2rem 0;
  }
  body .about-section .pattern {
    font-size: 93px;
  }
  body .about-section .pattern.pattern2 {
    -webkit-transform: translate(-14%, 160%) rotate(-45deg);
            transform: translate(-14%, 160%) rotate(-45deg);
  }
  body .about-section .pattern.pattern3 {
    -webkit-transform: translate(8%, 285%) rotate(-45deg);
            transform: translate(8%, 285%) rotate(-45deg);
  }
  body .about-section .about-header {
    font-size: 24px;
  }
  body .about-section .about-info-container {
    padding: 0 1.5rem;
    font-family: "nunito";
  }
  body .about-section .about-info-container h4 {
    font-size: 23px;
    margin: 2rem 0;
  }
  body .about-section .about-info-container p {
    font-size: 15px;
    margin: 0 0 0.6em 0;
  }
}

@media screen and (max-height: 600px) {
  body .circle-1 {
    display: none;
  }
  body .hero .design-right-section .design-circle-1 {
    height: 50px;
    width: 50px;
    right: 70px;
    bottom: 50px;
    -webkit-transform: translate(-264%, -320%);
            transform: translate(-264%, -320%);
  }
  body .hero .design-right-section .man {
    width: 100% !important;
  }
  body .hero .design-right-section .man::after {
    width: 100px;
    height: 100px;
    left: -5%;
  }
  body .hero .scroll-down-instruct {
    right: 2%;
    bottom: 5%;
  }
  body .hero .scroll-down-instruct .scroll-down-instruct__text h4 {
    font-size: 0.8rem;
  }
  body .hero .scroll-down-instruct .scroll-down-instruct__text p {
    font-size: 0.7rem;
  }
}

@media screen and (max-height: 450px) {
  body .circle-1 {
    display: none;
  }
  body .hero .design-right-section .design-circle-1 {
    height: 50px;
    width: 50px;
    right: 70px;
    bottom: 50px;
    -webkit-transform: translate(-264%, -320%);
            transform: translate(-264%, -320%);
  }
  body .hero .design-right-section .man {
    width: 100% !important;
    height: 200px;
  }
  body .hero .design-right-section .man::after {
    width: 100px;
    height: 100px;
    left: -5%;
  }
}
/*# sourceMappingURL=style.css.map */